<app-title title="CartPage" margin="1.5rem 0 0 2.5rem"></app-title>
<app-not-found
  [visible]="!cart || !cart.items.length"
  notFoundMessage="Cart Page Is Empty!"
  resetLinkText="Go To Homepage"
></app-not-found>
<div *ngIf="cart && cart.items.length" class="container">
  <ul>
    <li *ngFor="let cartItem of cart.items">
      <div>
        <img [src]="cartItem.product.image" [alt]="cartItem.product.name" />
      </div>
      <div>
        <a class="name" routerLink="/products/{{ cartItem.product.id }}">
          {{ cartItem.product.name }}
        </a>
      </div>
      <div>
        <select
          class="quantity-select"
          #quantitySelect
          [value]="cartItem.quantity"
          (change)="changeQuantity(cartItem, quantitySelect.value)"
        >
          <option *ngIf="cartItem.product.stock <= 0">0</option>
          <option *ngIf="cartItem.product.stock >= 1">1</option>
          <option *ngIf="cartItem.product.stock >= 2">2</option>
          <option *ngIf="cartItem.product.stock >= 3">3</option>
          <option *ngIf="cartItem.product.stock >= 4">4</option>
          <option *ngIf="cartItem.product.stock >= 5">5</option>
        </select>
      </div>
      <div>
        {{ cartItem.price | currency }}
      </div>

      <div>
        <button class="remove-button" (click)="removeFromCart(cartItem)">
          Remove
        </button>
      </div>
    </li>
  </ul>
  <div class="checkout">
    <div>
      <div class="products-count">{{ cart.totalCount }}</div>
      <div class="total-price">{{ cart.totalPrice | currency }}</div>
    </div>

    <button (click)="checkout()"><span>Proceed to Checkout</span></button>
  </div>
</div>
