<div class="container">
  <app-search></app-search>
  <app-not-found
    [visible]="!products || !products.length"
    resetLinkText="Reset Search"
  >
  </app-not-found>
  <ul>
    <li *ngFor="let product of products">
      <div class="main">
        <a routerLink="/products/{{ product.id }}">
          <div class="image-container">
            <img class="image" [src]="product.image" [alt]="product.name" />
          </div>
          <div class="content">
            <span class="favorite {{ product.favorite ? '' : 'not' }}">
              ❤
            </span>
            <div class="name">
              {{ product.name }}
            </div>

            <div *ngIf="product.stock < 10" class="stock">
              <span>
                {{ product.stock }}
              </span>
            </div>

            <div class="price {{ product.stock < 10 ? 'less-stock' : '' }}">
              <span>
                {{ product.price | currency }}
              </span>
            </div>
          </div>
        </a>
      </div>
    </li>
  </ul>
</div>
