input {
  width: 100%;
  height: 100%;
  border: none;
  border-bottom: 0 solid grey;
  transition: border-bottom 0.15s ease-out;
  background-color: transparent;
  border-radius: 15px;
  font-size: 1.1rem;
  outline: none;
  color: white;
}

input::placeholder {
  color: #676767;
  font-size: 0.95rem;
}

input:focus {
  border-width: 2.9px;
}

input-validation {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 0.8rem;
  right: 1rem;
  height: auto;
  width: 12rem;
}
