table {
  width: 100%;
  border: 0 solid #8f7676;
  margin-top: 1rem;
  border-radius: 15px;
  padding: 0.5rem 1rem;
  background-color: #000000b6;
  justify-content: space-between;
}

h3 {
  margin-top: 0.5rem;
  margin-left: 0.3rem;
  color: white;
}

a:hover {
  opacity: 0.9;
}

td {
  height: 3rem;
  border-bottom: 1px solid #8f7676;
}

td img {
  width: 3rem;
  height: 3rem;
  object-fit: cover;
  border-radius: 100rem;
}
