<header>
  <div class="container">
    <div>
      <a routerLink="/" class="logo">Root</a>
    </div>
    <nav>
      <ul>
        <li *ngIf="!user.token">
          <a routerLink="/login">Login</a>
        </li>
        <li *ngIf="user.token" class="menu-container">
          <a routerLink="/dashboard">{{ user.name }}</a>
          <div class="menu">
            <a routerLink="/profile">Profile</a>
            <a *ngIf="user.isAdmin" routerLink="/panel">Panel</a>
            <a routerLink="/orders">Orders</a>
            <a (click)="logout()">Logout</a>
          </div>
        </li>
        <li>
          <a routerLink="/cart-page">
            Cart <span *ngIf="cartQuantity">{{ cartQuantity }}</span>
          </a>
        </li>
      </ul>
    </nav>
  </div>
</header>
