header{
  position: relative;
  background: #171616;
  padding: 0;
  border-bottom: 1px solid #331d1d;
}

a{
  color: #ffffff;
}

a:hover{
  background:#2799db;
  color: white;
  cursor: pointer;
}

.container{
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
}

a.logo{
  font-weight: bold;
  padding: 1rem;
}

ul{
  display: flex;
  list-style-type: none;
  margin: 0;
}

ul li{
  align-items: center;
}

ul a{
  padding: 1rem;
  display: inline-block;
}

a span{
  background: #714a0b;
  color: white;
  padding: 0.1rem 0.45rem;
  border-radius: 100rem;
  font-size:0.9rem;
}

.menu-container{
  position: relative;
}

.menu{
  position:absolute;
  z-index:1;
  background:#171616;
  display: none;
}

.menu-container:hover .menu{
  display: block;
}

.menu a{
  width: 100%;
  min-width:8rem;
}
