.container {
  display: flex;
  justify-content: center;
  width: 100%;
}

button {
  width: 20rem;
  height: 3.5rem;
  margin-top: 2.5rem;
  background: transparent;
  border: 1px solid #8f7676;
  border-radius: 15px;
  color: #ffffff;
  padding: 0.5rem 1rem;
  font-size: 1.2rem;
  cursor: pointer;
}

button:hover {
  opacity: 0.8;
  cursor: pointer;
  opacity: 1;
}
