<div class="container">
  <div class="details">
    <app-title title="Register"></app-title>
    <form [formGroup]="registerForm" (ngSubmit)="submit()">
      <text-input
        [control]="fc.firstName"
        [showErrorsWhen]="isSubmitted"
        placeHolder="First Name"
        label="First Name"
      >
        `</text-input
      >
      <text-input
        [control]="fc.lastName"
        [showErrorsWhen]="isSubmitted"
        label="Last Name"
        placeHolder="Last Name"
      >
        `</text-input
      >

      <text-input
        [control]="fc.email"
        [showErrorsWhen]="isSubmitted"
        label="Email"
        placeHolder="Email"
        type="email"
      >
        `</text-input
      >

      <text-input
        [control]="fc.password"
        [showErrorsWhen]="isSubmitted"
        label="Password"
        placeHolder="Password"
        type="password"
      >
        `</text-input
      >

      <text-input
        [control]="fc.confirmPassword"
        [showErrorsWhen]="isSubmitted"
        label="Confirm Password"
        placeHolder="Confirm Password"
        type="password"
      >
        `</text-input
      >

      <text-input
        [control]="fc.phone"
        [showErrorsWhen]="isSubmitted"
        label="Phone"
        placeHolder="Phone"
      >
        `</text-input
      >

      <text-input
        [control]="fc.address"
        [showErrorsWhen]="isSubmitted"
        label="Address"
        placeHolder="Address"
      >
        `</text-input
      >

      <default-button text="Register"></default-button>

      <div class="login">
        Already a user? &nbsp;
        <a routerLink="/login" [queryParams]="{ returnUrl: returnUrl }">
          Login Here
        </a>
      </div>
    </form>
  </div>
</div>
