<div class="container">
  <div class="row">
    <div class="info">
      <span
        >#<span>{{ order.id }}</span></span
      >
      <span
        >Date:
        <span>{{ order.createdAt | date : "medium" : "local" }}</span></span
      >
      <span
        >Status: <span>{{ order.status }}</span></span
      >
    </div>
    <div class="buttons">
      <button *ngIf="order.status != 'CANCELED'" (click)="trackClick()">
        Track
      </button>
      <button *ngIf="order.status == 'NEW'" (click)="checkoutClick()">
        Checkout
      </button>
      <button
        *ngIf="
          order.status != 'DELIVERED' &&
          order.status != 'SHIPPED' &&
          order.status != 'CANCELED'
        "
        (click)="cancelClick()"
      >
        Cancel
      </button>
    </div>
  </div>
  <order-items-list [order]="order"></order-items-list>
</div>
