<div class="container">
  <div class="image-container">
    <img [src]="product.image" [alt]="product.name" />
  </div>

  <div class="details">
    <span class="name">
      {{ product.name }}
    </span>
    <span class="favorite {{ product.favorite ? '' : 'not' }}">❤</span>

    <p class="description">
      {{ product.description }}
    </p>

    <div class="price">
      <span>
        {{ product.price | currency }}
      </span>
    </div>

    <button (click)="addToCart()">Add To Cart</button>
  </div>
</div>
