<app-not-found
  [visible]="!product"
  notFoundMessage="Product Not Found"
  resetLinkText="Back To Homepage"
>
</app-not-found>
<div *ngIf="product" class="container">
  <div class="image-container">
    <img [src]="product.image" [alt]="product.name" />
  </div>

  <div class="details">
    <span class="name">
      {{ product.name }}
    </span>
    <span class="favorite {{ product.favorite ? '' : 'not' }}">❤</span>

    <p class="description">
      {{ product.description }}
    </p>

    <div *ngIf="product.stock < 10" class="stock">
      <span>
        {{ product.stock }}
      </span>
    </div>
    <div class="price">
      <span>
        {{ product.price | currency }}
      </span>
    </div>

    <button *ngIf="product.stock > 0" (click)="addToCart()">Add To Cart</button>
    <button *ngIf="product.stock == 0" class="disabled-button" disabled>
      Not Available
    </button>
  </div>
</div>
