<div class="container">
  <div class="card">
    <div class="card-header">
      <img [src]="product.image" [alt]="product.name" />
      <span>{{ product.name }}</span>
    </div>
    <div class="card-body">
      <div>
        <span>#{{ product.id }}</span>
      </div>
      <div>
        <span>Price: $</span>
        <input
          class="price-input"
          type="number"
          name="{{ product.id }}-price"
          value="{{ product.price }}"
        />
      </div>
      <div>
        <span>Size: </span>
        <input
          class="size-input"
          type="text"
          name="{{ product.id }}-size"
          value="{{ product.size }}"
        />
      </div>
      <div>
        <span>Stock: </span>
        <input
          class="stock-input"
          type="number"
          name="{{ product.id }}-stock"
          value="{{ product.stock }}"
        />
      </div>
    </div>
  </div>

  <div class="buttons">
    <button (click)="updateProduct()">Update</button>
    <button (click)="deleteProduct()">Delete</button>
  </div>
</div>
